*{
    margin: 0;
    padding: 0;
}
body{
    height: 5000px;
}
.hitungMundur{
    color: rgb(228, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 10px 5px  black;
}
.satu{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
